<section class="eOW">
  <div class="eIW">
    <div class="eRow">
      <h1>{{header}}</h1>
      <p>{{text1}}</p>
    </div>
  </div>
</section>
<section class="eOW">
  <div class="eIW">
    <div class="eRow">
      <h2 class="eMt eMb ePt ePb">
        <a href="#" id="Headers">Headers</a>
      </h2>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <h1>h1 header</h1>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;h1&gt;</span>h1 header<span
            class="el">&lt;/h1&gt;</span>
          </code>
        </pre>
      </div>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <h2>h2 header</h2>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;h2&gt;</span>h2 header<span
            class="el">&lt;/h2&gt;</span>
          </code>
        </pre>
      </div>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <h3>h3 header</h3>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;h3&gt;</span>h3 header<span
            class="el">&lt;/h3&gt;</span>
          </code>
        </pre>
      </div>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <h4>h4 header</h4>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;h4&gt;</span>h4 header<span
            class="el">&lt;/h4&gt;</span>
          </code>
        </pre>
      </div>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <h5>h5 header</h5>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;h5&gt;</span>h5 header<span
            class="el">&lt;/h5&gt;</span>
          </code>
        </pre>
      </div>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <h6>h6 header</h6>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;h6&gt;</span>h6 header<span
            class="el">&lt;/h6&gt;</span>
          </code>
        </pre>
      </div>
    </div>
    <div class="eRow">
      <h2>
        <a href="#" id="Lists">Lists</a>
      </h2>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <ul>
          <li>underordered list dots</li>
          <li>underordered list dots</li>
        </ul>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;ul&gt;</span><br />
            <span class="el insert">&lt;li&gt;</span>underordered list dots<span
            class="el">&lt;/li&gt;</span><br />
            <span class="el insert">&lt;li&gt;</span>underordered list dots<span
            class="el">&lt;/li&gt;</span><br />
            <span class="el">&lt;/ul&gt;</span>
          </code>
        </pre>
      </div>
    </div>
    <div class="eRow eBreak">
      <div class="eGCol6 eGPush0">
        <ul class="eNoDots">
          <li>underordered list eNoDots</li>
          <li>underordered list eNoDots</li>
        </ul>
      </div>
      <div class="eGCol6 eGPush6 eDemoCode">
        <pre>
          <code>
            <span class="el">&lt;ul class="<span
              class="class">eNoDots</span>"&gt;</span><br />
              <span class="el insert">&lt;li&gt;</span>underordered list<span
              class="el">&lt;/li&gt;</span><br />
              <span class="el insert">&lt;li&gt;</span>underordered list<span
              class="el">&lt;/li&gt;</span><br />
              <span class="el">&lt;/ul&gt;</span>
            </code>
          </pre>
        </div>
      </div>
      <div class="eRow eBreak">
        <div class="eGCol6 eGPush0">
          <ol>
            <li>ordered list</li>
            <li>ordered list</li>
          </ol>
        </div>
        <div class="eGCol6 eGPush6 eDemoCode">
          <pre>
            <code>
              <span class="el">&lt;ol class="<span
                class="class">eNumber</span>"&gt;</span><br />
                <span class="el insert">&lt;li&gt;</span> ordered list <span
                class="el">&lt;/li&gt;</span><br />
                <span class="el insert">&lt;li&gt;</span> ordered list <span
                class="el">&lt;/li&gt;</span><br />
                <span class="el">&lt;/ol&gt;</span>
              </code>
            </pre>
          </div>
        </div>

        <div class="eRow eBreak">
          <div class="eGCol6 eGPush0">
            <dl>
              <dt>data list dt</dt>
              <dd>data list dd</dd>
            </dl>
          </div>
          <div class="eGCol6 eGPush6 eDemoCode">
            <pre>
              <code>
                <span class="el">&lt;dl&gt;</span><br />
                <span class="el insert">&lt;dt&gt;</span> data list dt <span
                class="el">&lt;/dt&gt;</span><br />
                <span class="el insert">&lt;dd&gt;</span> data list dd <span
                class="el">&lt;/dd&gt;</span><br />
                <span class="el">&lt;/dl&gt;</span>
              </code>
            </pre>
          </div>
        </div>
        <div class="eRow">
          <h2>
            <a href="#" id="Text">Text</a>
          </h2>
        </div>
        <div class="eRow eBreak">
          <div class="eGCol6 eGPush0">
            <p>P paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <p>Another paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div class="eGCol6 eGPush6 eDemoCode">
            <pre>
              <code>
                <span class="el">&lt;p&gt;</span>P paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<span
                class="el">&lt;/p&gt;</span><span class="el">&lt;p&gt;</span>Another paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<span
                class="el">&lt;/p&gt;</span>
              </code>
            </pre>
          </div>
        </div>
        <div class="eRow eBreak">
          <div class="eGCol6 eGPush0">
            <p>
              a
              <span class="eBold">span</span> with .eBold class inside a paragraph
            </p>
          </div>
          <div class="eGCol6 eGPush6 eDemoCode">
            <pre>
              <code>
                <span class="el">&lt;p&gt;</span>
                a <span class="el">&lt;span class="<span
                class="class">eBold</span>"&gt;</span> span <span class="el">&lt;/span&gt;</span> with eBold class inside a paragraph
                <span class="el">&lt;/p&gt;</span>
              </code>
            </pre>
          </div>
        </div>
        <div class="eRow eBreak">
          <div class="eGCol6 eGPush0">
            <p>
              p
              <span class="eItalic">span</span> with .eItalic class inside a paragraph
            </p>
          </div>
          <div class="eGCol6 eGPush6 eDemoCode">
            <pre>
              <code>
                <span class="el">&lt;p&gt;</span> a <span
                class="el">&lt;span class="<span class="class">eItalic"</span>&gt;</span> span <span
                class="el">&lt;/span&gt;</span> with eItalic class inside a paragraph <span
                class="el">&lt;/p&gt;</span>
              </code>
            </pre>
          </div>
        </div>
        <div class="eRow eBreak">
          <div class="eGCol6 eGPush0">
            <blockquote>
              <p>blockquote p</p>
            </blockquote>
          </div>
          <div class="eGCol6 eGPush6 eDemoCode">
            <pre>
              <code>
                <span class="el">&lt;blockquote&gt;</span><br />
                <span class="el insert">&lt;p&gt;</span> a paragraph inside a blockquote <span
                class="el">&lt;/p&gt;</span><br />
                <span class="el">&lt;/blockquote&gt;</span>
              </code>
            </pre>
          </div>
        </div>
        <div class="eRow">
          <h2>
            <a href="#" id="Tables">Tables</a>
          </h2>
        </div>
        <div class="eRow eBreak">
          <div class="eGCol6 eGPush0">
            <h3 class="ePb">Basic</h3>
            <table class="eTable">
              <thead>
                <tr>
                  <th>th</th>
                  <th>th</th>
                  <th class="eAlignR">th</th>
                </tr>
              </thead>
              <tbody>
                <tr class="eOdd">
                  <td>td</td>
                  <td>td</td>
                  <td class="eAlignR">td</td>
                </tr>
                <tr class="eEven">
                  <td>td</td>
                  <td>td</td>
                  <td class="eAlignR">td</td>
                </tr>
                <tr class="eHighlight">
                  <td>td</td>
                  <td>td</td>
                  <td class="eAlignR">td</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">td</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="eGCol6 eGPush6 eDemoCode">
            <pre>
              <code>
                <span class="el">&lt;table class="<span
                  class="class">eTable</span>"&gt;</span><br />
                  <span class="el">&lt;thead&gt;</span><br />
                  <span class="el">&lt;tr&gt;</span><br />
                  <span class="el insert">&lt;th&gt;</span>th<span
                  class="el">&lt;/th&gt;</span><br />
                  <span class="el insert">&lt;th&gt;</span>th<span
                  class="el">&lt;/th&gt;</span><br />
                  <span class="el insert">&lt;th class="<span
                    class="class">eAlignR</span>" &gt;</span>th<span class="el">&lt;/th&gt;</span><br />
                    <span class="el">&lt;/tr&gt;</span><br />
                    <span class="el">&lt;/thead&gt;</span><br />
                    <span class="el">&lt;tbody&gt;</span><br />
                    <span class="el">&lt;tr class="<span
                      class="class">eOdd</span>"&gt;</span><br />
                      <span class="el insert">&lt;td&gt;</span>td<span
                      class="el">&lt;/td&gt;</span><br />
                      <span class="el insert">&lt;td&gt;</span>td<span
                      class="el">&lt;/td&gt;</span><br />
                      <span class="el insert">&lt;td class="<span
                        class="class">eAlignR</span>" &gt;</span>td<span class="el">&lt;/td&gt;</span><br />
                        <span class="el">&lt;/tr&gt;</span><br />
                        <span class="el">&lt;tr class="<span
                          class="class">eEven</span>"&gt;</span><br />
                          <span class="el insert">&lt;td&gt;</span>td<span
                          class="el">&lt;/td&gt;</span><br />
                          <span class="el insert">&lt;td&gt;</span>td<span
                          class="el">&lt;/td&gt;</span><br />
                          <span class="el insert">&lt;td class="<span
                            class="class">eAlignR</span>" &gt;</span>td<span class="el">&lt;/td&gt;</span><br />
                            <span class="el">&lt;/tr&gt;</span><br />
                            <span class="el">&lt;tr class="<span
                              class="class">eHighlight</span>"&gt;</span><br />
                              <span class="el insert">&lt;td&gt;</span>td<span
                              class="el">&lt;/td&gt;</span><br />
                              <span class="el insert">&lt;td&gt;</span>td<span
                              class="el">&lt;/td&gt;</span><br />
                              <span class="el insert">&lt;td class="<span
                                class="class">eAlignR</span>" &gt;</span>td<span class="el">&lt;/td&gt;</span><br />
                                <span class="el">&lt;/tr&gt;</span><br />
                                <span class="el">&lt;/tbody&gt;</span><br />
                                <span class="el">&lt;tfoot&gt;</span><br />
                                <span class="el">&lt;tr&gt;</span><br />
                                <span class="el insert">&lt;td  colspan="3"&gt;</span>td<span
                                class="el">&lt;/td&gt;</span><br />
                                <span class="el">&lt;/tr&gt;</span><br />
                                <span class="el">&lt;/tfoot&gt;</span><br />
                                <span class="el">&lt;/table&gt;</span>
                              </code>
                            </pre>
                          </div>
                        </div>
                        <div class="eRow eBreak">
                          <div class="eGCol6 eGPush0">
                            <h3 class="ePb">Zebra style</h3>
                            <table class="eTable eZebraRows">
                              <thead>
                                <tr>
                                  <th>th</th>
                                  <th>th</th>
                                  <th class="eAlignR">th</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>td</td>
                                  <td>td</td>
                                  <td class="eAlignR">td</td>
                                </tr>
                                <tr>
                                  <td>td</td>
                                  <td>td</td>
                                  <td class="eAlignR">td</td>
                                </tr>
                                <tr>
                                  <td>td</td>
                                  <td>td</td>
                                  <td class="eAlignR">td</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td colspan="3">td</td>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                          <div class="eGCol6 eGPush6 eDemoCode">
                            <pre>
                              <code>
                                <span class="el">&lt;table class="<span
                                  class="class">eTable eZebraRows</span>"&gt;</span><br />
                                  <span class="el">&lt;thead&gt;</span><br />
                                  <span class="el">&lt;tr&gt;</span><br />
                                  <span class="el insert">&lt;th&gt;</span>th<span
                                  class="el">&lt;/th&gt;</span><br />
                                  <span class="el insert">&lt;th&gt;</span>th<span
                                  class="el">&lt;/th&gt;</span><br />
                                  <span class="el insert">&lt;th class="<span
                                    class="class">eAlignR</span>" &gt;</span>th<span class="el">&lt;/th&gt;</span><br />
                                    <span class="el">&lt;/tr&gt;</span><br />
                                    <span class="el">&lt;/thead&gt;</span><br />
                                    <span class="el">&lt;tbody&gt;</span><br />
                                    <span class="el">&lt;tr &gt;</span><br />
                                    <span class="el insert">&lt;td&gt;</span>td<span
                                    class="el">&lt;/td&gt;</span><br />
                                    <span class="el insert">&lt;td&gt;</span>td<span
                                    class="el">&lt;/td&gt;</span><br />
                                    <span class="el insert">&lt;td class="<span
                                      class="class">eAlignR</span>" &gt;</span>td<span class="el">&lt;/td&gt;</span><br />
                                      <span class="el">&lt;/tr &gt;</span><br />
                                      <span class="el">&lt;tr &gt;</span><br />
                                      <span class="el insert">&lt;td&gt;</span>td<span
                                      class="el">&lt;/td&gt;</span><br />
                                      <span class="el insert">&lt;td&gt;</span>td<span
                                      class="el">&lt;/td&gt;</span><br />
                                      <span class="el insert">&lt;td class="<span
                                        class="class">eAlignR</span>" &gt;</span>td<span class="el">&lt;/td&gt;</span><br />
                                        <span class="el">&lt;/tr&gt;</span><br />
                                        <span class="el">&lt;tr &gt;</span><br />
                                        <span class="el insert">&lt;td&gt;</span>td<span
                                        class="el">&lt;/td&gt;</span><br />
                                        <span class="el insert">&lt;td&gt;</span>td<span
                                        class="el">&lt;/td&gt;</span><br />
                                        <span class="el insert">&lt;td class="<span
                                          class="class">eAlignR</span>" &gt;</span>td<span class="el">&lt;/td&gt;</span><br />
                                          <span class="el">&lt;/tr&gt;</span><br />
                                          <span class="el">&lt;/tbody&gt;</span><br />
                                          <span class="el">&lt;tfoot&gt;</span><br />
                                          <span class="el">&lt;tr&gt;</span><br />
                                          <span class="el insert">&lt;td  colspan="3"&gt;</span>td<span
                                          class="el">&lt;/td&gt;</span><br />
                                          <span class="el">&lt;/tr&gt;</span><br />
                                          <span class="el">&lt;/tfoot&gt;</span><br />
                                          <span class="el">&lt;/table&gt;</span>
                                        </code>
                                      </pre>
                                    </div>
                                  </div>
                                  <div class="eRow eBreak">
                                    <div class="eGCol6 eGPush0">
                                      <h3 class="ePb">Responsive max-width: 768px</h3>
                                      <table class="eTable eTableResponsive">
                                        <thead>
                                          <tr>
                                            <th>th 1</th>
                                            <th>th 2</th>
                                            <th>th 3</th>
                                            <th>th 4</th>
                                            <th>th 5</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td data-title="th 1">td 1</td>
                                            <td data-title="th 2">td 2</td>
                                            <td data-title="th 3">td 3</td>
                                            <td data-title="th 4">td 4</td>
                                            <td data-title="th 5">td 5</td>
                                          </tr>
                                          <tr>
                                            <td data-title="th 1">td 1</td>
                                            <td data-title="th 2">td 2</td>
                                            <td data-title="th 3">td 3</td>
                                            <td data-title="th 4">td 4</td>
                                            <td data-title="th 5">td 5</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="eGCol6 eGPush6 eDemoCode">
                                      <pre>
                                        <code>
                                          <span class="el">&lt;table class="<span
                                            class="class">eTable eTableResponsive</span>"&gt;</span><br />
                                            <span class="el">&lt;thead&gt;</span><br />
                                            <span class="el">&lt;tr&gt;</span><br />
                                            <span class="el insert">&lt;th&gt;</span>th 1<span
                                            class="el">&lt;/th&gt;</span><br />
                                            <span class="el insert">&lt;th&gt;</span>th 2<span
                                            class="el">&lt;/th&gt;</span><br />
                                            <span class="el insert">&lt;th&gt;</span>th 3<span
                                            class="el">&lt;/th&gt;</span><br />
                                            <span class="el insert">&lt;th&gt;</span>th 4<span
                                            class="el">&lt;/th&gt;</span><br />
                                            <span class="el insert">&lt;th&gt;</span>th 5<span
                                            class="el">&lt;/th&gt;</span><br />
                                            <span class="el">&lt;/tr&gt;</span><br />
                                            <span class="el">&lt;tbody&gt;</span><br />
                                            <span class="el">&lt;tr&gt;</span><br />
                                            <span class="el insert">&lt;td data-title="<span
                                              class="eForeGroundWhite ">th 1</span>"&gt;</span>td 1<span
                                              class="el">&lt;/td&gt;</span><br />
                                              <span class="el insert">&lt;td data-title="<span
                                                class="eForeGroundWhite ">th 2</span>"&gt;</span>td 2<span
                                                class="el">&lt;/td&gt;</span><br />
                                                <span class="el insert">&lt;td data-title="<span
                                                  class="eForeGroundWhite ">th 3</span>"&gt;</span>td 3<span
                                                  class="el">&lt;/td&gt;</span><br />
                                                  <span class="el insert">&lt;td data-title="<span
                                                    class="eForeGroundWhite ">th 4</span>"&gt;</span>td 4<span
                                                    class="el">&lt;/td&gt;</span><br />
                                                    <span class="el insert">&lt;td data-title="<span
                                                      class="eForeGroundWhite ">th 5</span>"&gt;</span>td 5<span
                                                      class="el">&lt;/td&gt;</span><br />
                                                      <span class="el">&lt;/tr&gt;</span><br />
                                                      <span class="el">&lt;tr&gt;</span><br />
                                                      <span class="el insert">&lt;td data-title="<span
                                                        class="eForeGroundWhite ">th 1</span>"&gt;</span>td 1<span
                                                        class="el">&lt;/td&gt;</span><br />
                                                        <span class="el insert">&lt;td data-title="<span
                                                          class="eForeGroundWhite ">th 2</span>"&gt;</span>td 2<span
                                                          class="el">&lt;/td&gt;</span><br />
                                                          <span class="el insert">&lt;td data-title="<span
                                                            class="eForeGroundWhite ">th 3</span>"&gt;</span>td 3<span
                                                            class="el">&lt;/td&gt;</span><br />
                                                            <span class="el insert">&lt;td data-title="<span
                                                              class="eForeGroundWhite ">th 4</span>"&gt;</span>td 4<span
                                                              class="el">&lt;/td&gt;</span><br />
                                                              <span class="el insert">&lt;td data-title="<span
                                                                class="eForeGroundWhite ">th 5</span>"&gt;</span>td 5<span
                                                                class="el">&lt;/td&gt;</span><br />
                                                                <span class="el">&lt;/tr&gt;</span><br />
                                                                <span class="el">&lt;/tbody&gt;</span><br />
                                                                <span class="el">&lt;/thead&gt;</span><br />
                                                                <span class="el">&lt;/table&gt;</span>
                                                              </code>
                                                            </pre>
                                                          </div>
                                                        </div>

                                                      </div>
                                                    </section>

