<section class="eOW">
  <div class="eIW">
    <div class="eRow">
      <h1>{{header}}</h1>
      <p>{{text1}}</p>
    </div>
  </div>
</section>
<div class="eOW eGrid">
  <div class="eIW">
    <h2 class="ePt">12 columns 11 gutters - No Break</h2>
    <div class="eRow eMt eMb">
      <div class="eGCol1 eGPush0">Col 1</div>
      <div class="eGCol1 eGPush1">Col 1</div>
      <div class="eGCol1 eGPush2">Col 1</div>
      <div class="eGCol1 eGPush3">Col 1</div>
      <div class="eGCol1 eGPush4">Col 1</div>
      <div class="eGCol1 eGPush5">Col 1</div>
      <div class="eGCol1 eGPush6">Col 1</div>
      <div class="eGCol1 eGPush7">Col 1</div>
      <div class="eGCol1 eGPush8">Col 1</div>
      <div class="eGCol1 eGPush9">Col 1</div>
      <div class="eGCol1 eGPush10">Col 1</div>
      <div class="eGCol1 eGPush11">Col 1</div>
    </div>
    <h2 class="ePt">6 columns 5 gutters - with Breaks</h2>
    <div class="eRow eBreak eMt eMb">
      <div class="eGCol2 eGPush0">Col 2</div>
      <div class="eGCol2 eGPush2">Col 2</div>
      <div class="eGCol2 eGPush4">Col 2</div>
      <div class="eGCol2 eGPush6">Col 2</div>
      <div class="eGCol2 eGPush8">Col 2</div>
      <div class="eGCol2 eGPush10">Col 2</div>
    </div>
    <h2 class="ePt">4 columns 3 gutters - with Breaks</h2>
    <div class="eRow eBreak eMt eMb">
      <div class="eGCol3 eGPush0">Col 3</div>
      <div class="eGCol3 eGPush3">Col 3</div>
      <div class="eGCol3 eGPush6">Col 3</div>
      <div class="eGCol3 eGPush9">Col 3</div>
    </div>
    <h2 class="ePt">3 columns 2 gutters - with Breaks</h2>
    <div class="eRow eBreak eMt eMb">
      <div class="eGCol4 eGPush0">Col 4</div>
      <div class="eGCol4 eGPush4">Col 4</div>
      <div class="eGCol4 eGPush8">Col 4</div>
    </div>
    <h2 class="ePt">2 columns 1 gutters - with Breaks</h2>
    <div class="eRow  eBreak eMt eMb">
      <div class="eGCol6 eGPush0">Col 6</div>
      <div class="eGCol6 eGPush6">Col 6</div>
    </div>
    <h2 class="ePt">2 columns with different widths 1 gutters - No Breaks
    </h2>
    <div class="eRow eMt eMb">
      <div class="eGCol2 eGPush0">Col 2</div>
      <div class="eGCol10 eGPush2">Col 10</div>
    </div>
    <h2 class="ePt">1 columns pushed - No Breaks</h2>
    <div class="eRow eMt eMb">
      <div class="eGCol1 eGPush7">Col 1</div>
    </div>
  </div>
</div>
