<section class="eOW">
  <div class="eIW">
    <div class="eRow">
      <h1>{{header}}</h1>
      <p>{{text1}}</p>
    </div>
  </div>
</section>
<section class="eOW">
  <div class="eIW">
   <h2>IW 100% width Sections</h2>
   <table class="eTable">
    <thead>
      <tr>
        <th>1x100 width 16:9 in box</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr class="media1200">
        <td>desktop</td>
        <td>1180x670</td>
      </tr>
      <tr class="media1024">
        <td>tabletlandscape</td>
        <td>1004x570</td>
      </tr>
      <tr class="media768">
        <td>tabletportrait</td>
        <td>748x418</td>
      </tr>
      <tr class="media480">
        <td>smartphonelandscape</td>
        <td>460x260</td>
      </tr>
      <tr class="media320">
        <td>smartphoneportrait</td>
        <td>300x222</td>
      </tr>
    </tbody>
  </table>
  <div class="eRow">
    <div class="eGCol12 eGPush0">
      <img alt="ALT" src="../../../images/elazy.gif" class="eLazy" data-desktopbig="http://placehold.it/1180x670" data-desktop="http://placehold.it/1180x670" data-tabletlandscape="http://placehold.it/1004x570" data-tabletportrait="http://placehold.it/748x418"
      data-smartphonelandscape="http://placehold.it/460x260" data-smartphoneportrait="http://placehold.it/300x222">
    </div>
  </div>
</div>
</section>
<section class="eOW eLazy eLazyBg" data-desktopbig="http://lorempixel.com/1660/254/" data-desktop="http://lorempixel.com/1660/254/" data-tabletlandscape="http://lorempixel.com/1024/254" data-tabletportrait="http://lorempixel.com/768/300" data-smartphonelandscape="http://lorempixel.com/480/300"
data-smartphoneportrait="http://lorempixel.com/320/300" style="background-image:">
<div class="eIW">
  <div class="eRow eMt eMb">
    <H2>OW 100% Background-image</H2>
    <table class="eTable" style="background:transparent">
      <thead>
        <tr>
          <th>1x100 width</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr class="media1200">
          <td>desktop</td>
          <td>
            <i>width 1660</i>
          </td>
        </tr>
        <tr class="media1024">
          <td>tabletlandscape</td>
          <td>
            <i>width 1024</i>
          </td>
        </tr>
        <tr class="media768">
          <td>tabletportrait</td>
          <td>
            <i>width 768</i>
          </td>
        </tr>
        <tr class="media480">
          <td>smartphonelandscape</td>
          <td>
            <i>width 480</i>
          </td>
        </tr>
        <tr class="media320">
          <td>smartphoneportrait</td>
          <td>
            <i>width 320</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
