/*
 * @author  Lars Hendahl
 */

 /* ELEMENT ****************************************************/
 img{
 	overflow:hidden;
 	width:100%;
 	max-width:100%;
 	height:auto;
 }
 .eLazy{
 	height:auto;
 }
 .eLazyBg{
 	width:100%;
 	background-repeat:no-repeat !important;
 	background-size:cover;
 	background-position: top center;
 }
